# Ignore configuration files that may contain sensitive information.
sites/*/*settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
.DS_Store
.sass-cache
*.css.map
sites/all/themes/curb_webshop_theme_v2/.sass-cache/*
profiles/commerce_kickstart/settings.php
settings.php
profiles/commerce_kickstart/default.settings.php