@import 'variables';

#section-header {
	background: #ffffff url("../images/background_header.jpg") no-repeat top left;
	background-size: 100%;

	p {
		margin-bottom: 0;
	}

	#zone-user-wrapper {
		background: $black-transparent-light;
		border-bottom: 5px solid $black-transparent-border;

		#region-user-first, #region-user-second {

			ul.menu {
				margin-left: 0;

				li {
					display: inline-block;
					margin: 0;
					padding: 0;

					a {
						text-decoration: none;
						color: $white;
						font-size: $font-size-medium;
						text-transform: uppercase;
						font-weight: 400;
						display: inline-block;
						padding: 3px 10px 3px 5px;
						border-right: 1px solid $white-transparent-medium;
						margin-top: 3px;

						&:hover, &.active {
							color: $orange;
						}
					}

					&:last-child {
						a {
							border-right: none;
						}
					}
				}
			}
		}

		#region-user-first {
			margin-left: 0;

			ul.menu {
				li {
					a {
						margin-top: 7px;
					}
				}
			}
		}

		#region-user-second {
			background-color: transparent;
			text-align: right;

			#block-menu-menu-user-menu, #block-views-shopping-cart-block {
				display: inline-block;
				position: relative;
			}

			#block-views-shopping-cart-block {
				background: $gray-dark;
				padding-left: 30px;
				top: 3px;

				.content {
					background-color: transparent;
					color: $white;

					.view-empty {
						&:before {
							@include font-awesome-icon("\f07a", $white, 16px, 5px, 6px, 8px);
						}
						p{
							font-weight: 300;
						}

						.line-item-summary ul.links {
							&:hover {
								background-color: $gray-medium;
							}
							a {
								text-decoration: none;
							}
						}
					}
				}
			}
		}
	}

	#zone-branding-wrapper {
		background: $black-transparent-high;

		.logo-img {
			display: inline-block;
		}
	}
}