#section-footer {
	background-color: $black;
	margin-top: 50px;
	font-family: "Open Sans", sans-serif;
	.zone-footer {
		//border-top: 2px solid $gray-dark;
		padding: 20px 0;
	} 
	.region-footer-first,
	.region-footer-third,
	.region-footer-second {
		width: 33%;
		margin: 0;
		display: inline-block;
		box-sizing: border-box;
		color: $gray-medium;
		padding-right: 10px;
		a {
			color: $gray-light;
			font-size: 14px;
			text-transform: uppercase;
			font-family: "bebas", "Open Sans", sans-serif;
			&:hover {
				color: $green-hover;
			} 
		}
	}
	h2.block-title {
		font-size: 18px;
		margin-bottom: 20px;
	}
} 

a.cta {
	color: $white;
	padding: 5px 10px;
	background-color: $gray-dark;
	border-radius: 5px;
	&:hover {
		background-color: $green-hover;
		color: $black !important;
	}
}

.facebook {
	&:before{
    content: "";
    display: block;
    background: url('../images/social/facebook.png') no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
	}
}
.twitter {
	&:before{
    content: "";
    display: block;
    background: url('../images/social/twitter.png') no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
	}
}
.youtube{
	&:before{
    content: "";
    display: block;
    background: url('../images/social/youtube.png') no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
	}
}
.googleplus {
	&:before{
    content: "";
    display: block;
    background: url('../images/social/googleplus.png') no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
	}
}

#footer-sitemap {
	margin: 0px;
	ul li {
		display: block;
		float: none;
		margin: 0;
		padding: 5px 0;
		border-bottom: 1px solid $gray-dark;
		&.last {
			border-bottom: none;
		}
		li {
			padding-left: 40px;
			border-bottom: none;
			a {
				color: $gray-medium !important;
				&:hover {
					color: $green-hover !important;
				} 
			}
		}
	}
}

#zone-footer2-wrapper {
	background: $black;
	margin: 0;
	padding: 0;
	.zone-footer2 {
		padding-top: 10px;
		border-top: 2px solid $gray-dark;
		color: $gray-medium;
	}
}
