#section-header {
	background-color: $white;
	background-image: url(../images/header/bg-pattern.jpg);
	border-bottom: 6px solid #e5e5e5;
}

#zone-menu {
	.megamenu-skin-friendly .megamenu-parent-title a {
		color: #000;
	}
	.megamenu-skin-friendly .megamenu-parent-title a:hover,
	.megamenu-skin-friendly .megamenu-parent-title .active {
		color: #46d476;
	}
}

#block-megamenu-main-menu {
	float: left;
	padding: 15px 0;
	font-size: 24px;
	.megamenu-parent {
		margin-right: 35px;
		vertical-align: middle;
		.megamenu-bin {
			li {
				list-style: none;
				display: inline-block;
			}
		}
		.megamenu-slot {
			margin: 0;
			background-color: $gray-light;
			width: auto;
			padding: 5px 10px;
			a {
				color: $black;
				font-size: 14px;
				text-decoration: none;
			    &:hover,
			    .active {
			    	color: $green-hover;
			    }
			}
		}

	}
	.megamenu-parent.first {
		vertical-align: top;
	}
	.megamenu-parent.last {
		margin-right: 0;
	}
	.home-menu {
		display: inline-block;
		background: url('../logo.png') no-repeat center;
		background-size: contain;
		width: 100px;
		height: 62px;
		text-indent: -999px;
	}
}

#block-megamenu-menu-user-menu,
#block-megamenu-menu-social-connection {
	display: none; // hide temporarily
}


#block-system-user-menu {
	float: right;
	ul.menu li a {
		background: none;
		border: none;
	}
	li {
		display: inline-block;
		width: auto;
	}
}