#section-header {
	background-color: $white;
	background-image: url(../images/header/bg-pattern.jpg);
	border-bottom: 4px solid #e5e5e5;
}

#zone-menu-wrapper {
	border-bottom: 2px rgb(225,225,225) solid; 
}

#zone-menu {
	.megamenu-skin-friendly .megamenu-parent-title a {
		color: #000;
	}
	.megamenu-skin-friendly .megamenu-parent-title a:hover,
	.megamenu-skin-friendly .megamenu-parent-title .active {
		color: #46d476;
	}
}

#block-megamenu-main-menu {
	float: left;
	padding: 15px 0;
	font-size: 24px;
	.megamenu-parent-1 {
		.megamenu-slots-columnar {
			top: 35px !important; 
			width: 720px !important;
			left: 0px !important;
			padding-left: 0px;
			padding-bottom: 0px;	
			li.megamenu-slot {
				padding: 0 10px;
				height: 30px;
				border: 1px $gray-light solid;
				background-color: rgb(240,240,240);
				h3.megamenu-slot-title {
				    bottom: 7px;
    				position: relative;
    				a {
    					color: $gray-medium;
    					&:hover {
    						color: $black;
    					}
    				}
				}
			}
		}
	}
	.megamenu-parent {
		margin-right: 35px;
		vertical-align: middle;
		top: 30px;
		.megamenu-bin {
			li {
				list-style: none;
				display: inline-block;
			}
		}
		.megamenu-slot {
			margin: 0;
			background-color: $gray-light;
			width: auto;
			padding: 5px 10px;
			a {
				color: $black;
				font-size: 14px;
				text-decoration: none;
			    &:hover,
			    .active {
			    	color: $green-hover;
			    }
			}
		}

	}
	.megamenu-parent.first {
		vertical-align: top;
		top: initial;
	}
	.megamenu-parent.last {
		margin-right: 0;
	}
	.home-menu {
		display: inline-block;
		background: url('../logo.png') no-repeat center;
		background-size: contain;
		width: 150px;
		height: 100px;
		text-indent: -999px;
	}
}



#block-system-user-menu {
	float: right;
	ul.menu li a {
		background: none;
		border: none;
	}
	li {
		display: inline-block;
		width: auto;
	}
}

.section-header {
	.zone-user-wrapper {
		background-color: #e5e5e5;
		border-bottom: 2px rgb(220,220,220) solid; 
		height: 30px;

	    .block {
	    	display: inline-block;
	    	padding-top: 5px;
	    }
	    .block-megamenu-menu-social-connection {
	    	float: left;
	    	h2.megamenu-parent-title {
    		    display: inline-block;
			    width: 20px;
			    height: 20px;
			    overflow: hidden;
			    margin-right: 5px;
	    	}
	    }
	    .block-menu-user-menu {
	    	.megamenu-parent {
	    		padding: 0 5px; 
	    		display: inline-block;
	    		border-left: 1px rgb(200,200,200) solid;
	    		a {
	    			color: $black;
	    			font-size: 12px;
	    			word-spacing: 3px;
	    			&:hover {
	    				color: $green-hover;
	    			}
	    		}
	    	}
	    } 
	    input#edit-submit {
    		color: $white;
			padding: 4px 7px;
			background: $gray-dark;
			border-radius: 5px;
			border: none;
			font-family: "bebas", "Open Sans", sans-serif;
			word-spacing: 3px;
			&:hover {
			background-color: $green-hover;
			color: $black !important;
			}
	    }
	    #region-user-second {
	    	background-color: $gray-light;
	    	text-align: right;
	    	padding-right: 15px;
	    	.block {
	    		padding-top: 3px;
	    	}
	    }
	}
}


