// Home View

body.front .region-postscript-third {
	margin: 75px 0 0 0;
	.block-views-display-products-block-1 {
		h2.block-title {
			text-align: center;
			margin-bottom: 25px;
		}
		.views-row {
		    margin: 0;
		    width: 30%;
		    display: inline-block;
		    vertical-align: center;
		    padding: 0 10px;
		    text-align: center;
		    h2 {
		    	margin-bottom: 0;
		    }
		    h2 a {
		    	color: $white;
		    	font-size: 14px;
		    	&:hover {
		    		color: $green-hover;
		    	}
		    }
		    .commerce-product-field {
		    	.field-item {
			    	font-size: 12px;
			    	color: $gray-medium;
		    	}
		    	span.price_prefix {
		    		display: none;
		    	}
		    }
		}
	}
}