@font-face {
    font-family: 'bebas';
    src: url('bebas/bebas-webfont.woff2') format('woff2'),
         url('bebas/bebas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'slash';
    src: url('slash/slash-webfont.woff2') format('woff2'),
         url('slash/slash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}