@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#section-header {
  background-color: white;
  background-image: url(../images/header/bg-pattern.jpg);
  border-bottom: 6px solid #e5e5e5; }

#zone-menu .megamenu-skin-friendly .megamenu-parent-title a {
  color: #000; }
#zone-menu .megamenu-skin-friendly .megamenu-parent-title a:hover,
#zone-menu .megamenu-skin-friendly .megamenu-parent-title .active {
  color: #46d476; }

#block-megamenu-main-menu {
  float: left;
  padding: 15px 0;
  font-size: 24px; }
  #block-megamenu-main-menu .megamenu-parent {
    margin-right: 35px;
    vertical-align: middle; }
    #block-megamenu-main-menu .megamenu-parent .megamenu-bin li {
      list-style: none;
      display: inline-block; }
    #block-megamenu-main-menu .megamenu-parent .megamenu-slot {
      margin: 0;
      background-color: #e5e5e5;
      width: auto;
      padding: 5px 10px; }
      #block-megamenu-main-menu .megamenu-parent .megamenu-slot a {
        color: black;
        font-size: 14px;
        text-decoration: none; }
        #block-megamenu-main-menu .megamenu-parent .megamenu-slot a:hover,
        #block-megamenu-main-menu .megamenu-parent .megamenu-slot a .active {
          color: #46d476; }
  #block-megamenu-main-menu .megamenu-parent.first {
    vertical-align: top; }
  #block-megamenu-main-menu .megamenu-parent.last {
    margin-right: 0; }
  #block-megamenu-main-menu .home-menu {
    display: inline-block;
    background: url("../logo.png") no-repeat center;
    background-size: contain;
    width: 100px;
    height: 62px;
    text-indent: -999px; }

#block-megamenu-menu-user-menu,
#block-megamenu-menu-social-connection {
  display: none; }

#block-system-user-menu {
  float: right; }
  #block-system-user-menu ul.menu li a {
    background: none;
    border: none; }
  #block-system-user-menu li {
    display: inline-block;
    width: auto; }

body {
  background-color: black;
  color: white; }
  body a:link {
    color: #46d476; }
    body a:link:hover {
      opacity: 0.8; }

h2.block-title {
  color: white;
  font-size: 24px; }

div#zone-content {
  padding: 0;
  margin-bottom: 0; }

body.front h2.block-title {
  font-size: 24px; }
body.front .zone-wrapper article {
  display: none; }
body.front .zone-wrapper .region-content,
body.front .zone-wrapper .region-postscript-first,
body.front .zone-wrapper .region-postscript-second {
  width: 100%;
  margin: 0;
  position: relative; }
  body.front .zone-wrapper .region-content img,
  body.front .zone-wrapper .region-postscript-first img,
  body.front .zone-wrapper .region-postscript-second img {
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */ }
    body.front .zone-wrapper .region-content img:hover,
    body.front .zone-wrapper .region-postscript-first img:hover,
    body.front .zone-wrapper .region-postscript-second img:hover {
      filter: none;
      -webkit-filter: grayscale(0); }
  body.front .zone-wrapper .region-content h2.block-title,
  body.front .zone-wrapper .region-content .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-second h2.block-title,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
    z-index: 99;
    position: absolute; }
    body.front .zone-wrapper .region-content h2.block-title a,
    body.front .zone-wrapper .region-content .field-name-field-link-shop-now a,
    body.front .zone-wrapper .region-postscript-first h2.block-title a,
    body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a,
    body.front .zone-wrapper .region-postscript-second h2.block-title a,
    body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a {
      color: black;
      text-transform: uppercase;
      padding: 5px 7px;
      background-color: white;
      font-weight: bold;
      font-size: 12px; }
      body.front .zone-wrapper .region-content h2.block-title a:hover,
      body.front .zone-wrapper .region-content .field-name-field-link-shop-now a:hover,
      body.front .zone-wrapper .region-postscript-first h2.block-title a:hover,
      body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a:hover,
      body.front .zone-wrapper .region-postscript-second h2.block-title a:hover,
      body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a:hover {
        color: white;
        background-color: #46d476; }
body.front .zone-wrapper .region-content h2.block-title {
  top: 40%; }
body.front .zone-wrapper .region-content .field-name-field-link-shop-now {
  top: 50%; }
body.front .zone-wrapper .region-content h2.block-title,
body.front .zone-wrapper .region-content .field-name-field-link-shop-now {
  left: 15%; }
body.front .zone-wrapper .region-postscript-first,
body.front .zone-wrapper .region-postscript-second {
  max-width: 460px; }
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-second h2.block-title {
    top: 25%; }
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
    top: 45%; }
body.front .zone-wrapper .region-postscript-second h2.block-title,
body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
  left: 50px; }
body.front .zone-wrapper .region-postscript-first {
  margin-right: 20px; }
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now {
    right: 50px; }

#section-footer {
  background-color: black;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif; }
  #section-footer .zone-footer {
    padding: 20px 0; }
  #section-footer .region-footer-first,
  #section-footer .region-footer-third,
  #section-footer .region-footer-second {
    width: 33%;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    color: #7d7d7d;
    padding-right: 10px; }
    #section-footer .region-footer-first a,
    #section-footer .region-footer-third a,
    #section-footer .region-footer-second a {
      color: #e5e5e5;
      font-size: 14px;
      text-transform: uppercase;
      font-family: "bebas", "Open Sans", sans-serif; }
      #section-footer .region-footer-first a:hover,
      #section-footer .region-footer-third a:hover,
      #section-footer .region-footer-second a:hover {
        color: #46d476; }
  #section-footer h2.block-title {
    font-size: 18px;
    margin-bottom: 20px; }

a.cta {
  color: white;
  padding: 5px 10px;
  background-color: #373737;
  border-radius: 5px; }
  a.cta:hover {
    background-color: #46d476;
    color: black !important; }

.facebook:before {
  content: "";
  display: block;
  background: url("../images/social/facebook.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.twitter:before {
  content: "";
  display: block;
  background: url("../images/social/twitter.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.youtube:before {
  content: "";
  display: block;
  background: url("../images/social/youtube.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.googleplus:before {
  content: "";
  display: block;
  background: url("../images/social/googleplus.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

#footer-sitemap {
  margin: 0px; }
  #footer-sitemap ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #373737; }
    #footer-sitemap ul li.last {
      border-bottom: none; }
    #footer-sitemap ul li li {
      padding-left: 40px;
      border-bottom: none; }
      #footer-sitemap ul li li a {
        color: #7d7d7d !important; }
        #footer-sitemap ul li li a:hover {
          color: #46d476 !important; }

#zone-footer2-wrapper {
  background: black;
  margin: 0;
  padding: 0; }
  #zone-footer2-wrapper .zone-footer2 {
    padding-top: 10px;
    border-top: 2px solid #373737;
    color: #7d7d7d; }

.page-blog .region-content .view-blog .view-content .views-row {
  border: none;
  border-bottom: 1px solid white; }
  .page-blog .region-content .view-blog .view-content .views-row h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .page-blog .region-content .view-blog .view-content .views-row .node-blog-post {
    padding: 0 0 20px 0; }
  .page-blog .region-content .view-blog .view-content .views-row .field-name-post-date {
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 10px; }
  .page-blog .region-content .view-blog .view-content .views-row .field-type-text-with-summary {
    color: #e5e5e5; }
  .page-blog .region-content .view-blog .view-content .views-row .field-name-author {
    color: #46d476;
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700; }
.page-blog .region-content .view-blog .view-content .views-row-last {
  border-bottom: none; }
.page-blog .region-content .view-blog .view-content .views-row-first {
  margin-top: 50px; }

body.front .region-postscript-third {
  margin: 75px 0 0 0; }
  body.front .region-postscript-third .block-new-arrivals-front--block h2.block-title {
    text-align: center;
    margin-bottom: 25px; }
  body.front .region-postscript-third .block-new-arrivals-front--block .view-content {
    text-align: center; }
  body.front .region-postscript-third .block-new-arrivals-front--block .views-row {
    display: inline-block;
    width: 29%;
    margin-bottom: 20px; }
    body.front .region-postscript-third .block-new-arrivals-front--block .views-row span.field-content a {
      font-family: "bebas", "Open Sans", sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      color: white; }
      body.front .region-postscript-third .block-new-arrivals-front--block .views-row span.field-content a:hover {
        color: #46d476; }
    body.front .region-postscript-third .block-new-arrivals-front--block .views-row .views-field-title {
      margin-top: 10px; }
    body.front .region-postscript-third .block-new-arrivals-front--block .views-row .field-name-commerce-price {
      font-family: "bebas", "Open Sans", sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      color: #7d7d7d;
      font-size: 12px; }

.block-about-us,
.block-team-block {
  margin-top: 30px; }
  .block-about-us h2.block-title,
  .block-team-block h2.block-title {
    font-size: 24px;
    margin-bottom: 20px; }

.block-about-us .field-type-image,
.block-about-us .field-type-text-long {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.block-team-block {
  text-align: center; }
  .block-team-block h2.block-title {
    border-bottom: 2px solid white;
    padding-bottom: 15px; }
  .block-team-block .view-content {
    margin: 0 -20px; }
    .block-team-block .view-content .views-row {
      display: inline-block;
      padding: 0 20px; }
      .block-team-block .view-content .views-row .field-type-image {
        background-color: #46d476; }
        .block-team-block .view-content .views-row .field-type-image img:hover {
          opacity: 0.3; }
      .block-team-block .view-content .views-row .field-name-title-field {
        margin-top: 15px;
        font-family: "bebas", "Open Sans", sans-serif;
        font-weight: 700;
        letter-spacing: 0;
        font-size: 22px; }

.context-contact .zone-content {
  margin-top: 50px;
  font-family: "bebas", "Open Sans", sans-serif;
  font-weight: 700; }
  .context-contact .zone-content h2.block-title {
    font-size: 24px;
    margin-bottom: 20px; }
.context-contact .region-sidebar-first,
.context-contact .region-content {
  width: auto !important; }

.contact-adres {
  margin-top: 55px;
  padding: 25px;
  background-color: #46d476;
  color: black;
  max-width: 300px; }
  .contact-adres a:link,
  .contact-adres a:visited {
    color: white; }
    .contact-adres a:link:hover,
    .contact-adres a:visited:hover {
      color: #e5e5e5; }

.openingsuren {
  margin-top: 20px;
  color: #e5e5e5; }
  .openingsuren span {
    margin: 5px 0;
    display: inline-block;
    min-width: 100px; }

.page-shop ul.all-products {
  margin-top: 50px; }
  .page-shop ul.all-products .views-row {
    margin: 0;
    width: 30%;
    display: inline-block;
    vertical-align: center;
    padding: 0 10px;
    text-align: center; }
    .page-shop ul.all-products .views-row h2 {
      margin-bottom: 0; }
    .page-shop ul.all-products .views-row h2 a {
      color: white;
      font-size: 14px; }
      .page-shop ul.all-products .views-row h2 a:hover {
        color: #46d476; }
    .page-shop ul.all-products .views-row .commerce-product-field .field-item {
      font-size: 12px;
      color: #7d7d7d; }
    .page-shop ul.all-products .views-row .commerce-product-field span.price_prefix {
      display: none; }

.page-events .region-content .view-events .view-content .views-row {
  border: none;
  border-bottom: 1px solid white; }
  .page-events .region-content .view-events .view-content .views-row h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .page-events .region-content .view-events .view-content .views-row .field-type-text-with-summary {
    color: #e5e5e5; }
  .page-events .region-content .view-events .view-content .views-row .field-name-field-event-afbeelding {
    padding-right: 20px; }
  .page-events .region-content .view-events .view-content .views-row .field-name-field-wanneer {
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 10px; }
.page-events .region-content .view-events .view-content .views-row-last {
  border-bottom: none; }
.page-events .region-content .view-events .view-content .views-row-first {
  margin-top: 50px; }

/*# sourceMappingURL=custom.css.map */
