@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(//fonts.googleapis.com/css?family=Gentium+Basic:400,700);
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#section-header {
  background-color: white;
  background-image: url(../images/header/bg-pattern.jpg);
  border-bottom: 4px solid #e5e5e5; }

#zone-menu-wrapper {
  border-bottom: 2px #e1e1e1 solid; }

#zone-menu .megamenu-skin-friendly .megamenu-parent-title a {
  color: #000; }
#zone-menu .megamenu-skin-friendly .megamenu-parent-title a:hover,
#zone-menu .megamenu-skin-friendly .megamenu-parent-title .active {
  color: #46d476; }

#block-megamenu-main-menu {
  float: left;
  padding: 15px 0;
  font-size: 24px; }
  #block-megamenu-main-menu .megamenu-parent-1 .megamenu-slots-columnar {
    top: 35px !important;
    width: 720px !important;
    left: 0px !important;
    padding-left: 0px;
    padding-bottom: 0px; }
    #block-megamenu-main-menu .megamenu-parent-1 .megamenu-slots-columnar li.megamenu-slot {
      padding: 0 10px;
      height: 30px;
      border: 1px #e5e5e5 solid;
      background-color: #f0f0f0; }
      #block-megamenu-main-menu .megamenu-parent-1 .megamenu-slots-columnar li.megamenu-slot h3.megamenu-slot-title {
        bottom: 7px;
        position: relative; }
        #block-megamenu-main-menu .megamenu-parent-1 .megamenu-slots-columnar li.megamenu-slot h3.megamenu-slot-title a {
          color: #7d7d7d; }
          #block-megamenu-main-menu .megamenu-parent-1 .megamenu-slots-columnar li.megamenu-slot h3.megamenu-slot-title a:hover {
            color: black; }
  #block-megamenu-main-menu .megamenu-parent {
    margin-right: 35px;
    vertical-align: middle;
    top: 30px; }
    #block-megamenu-main-menu .megamenu-parent .megamenu-bin li {
      list-style: none;
      display: inline-block; }
    #block-megamenu-main-menu .megamenu-parent .megamenu-slot {
      margin: 0;
      background-color: #e5e5e5;
      width: auto;
      padding: 5px 10px; }
      #block-megamenu-main-menu .megamenu-parent .megamenu-slot a {
        color: black;
        font-size: 14px;
        text-decoration: none; }
        #block-megamenu-main-menu .megamenu-parent .megamenu-slot a:hover,
        #block-megamenu-main-menu .megamenu-parent .megamenu-slot a .active {
          color: #46d476; }
  #block-megamenu-main-menu .megamenu-parent.first {
    vertical-align: top;
    top: initial; }
  #block-megamenu-main-menu .megamenu-parent.last {
    margin-right: 0; }
  #block-megamenu-main-menu .home-menu {
    display: inline-block;
    background: url("../logo.png") no-repeat center;
    background-size: contain;
    width: 150px;
    height: 100px;
    text-indent: -999px; }

#block-system-user-menu {
  float: right; }
  #block-system-user-menu ul.menu li a {
    background: none;
    border: none; }
  #block-system-user-menu li {
    display: inline-block;
    width: auto; }

.section-header .zone-user-wrapper {
  background-color: #e5e5e5;
  border-bottom: 2px gainsboro solid;
  height: 30px; }
  .section-header .zone-user-wrapper .block {
    display: inline-block;
    padding-top: 5px; }
  .section-header .zone-user-wrapper .block-megamenu-menu-social-connection {
    float: left; }
    .section-header .zone-user-wrapper .block-megamenu-menu-social-connection h2.megamenu-parent-title {
      display: inline-block;
      width: 20px;
      height: 20px;
      overflow: hidden;
      margin-right: 5px; }
  .section-header .zone-user-wrapper .block-menu-user-menu .megamenu-parent {
    padding: 0 5px;
    display: inline-block;
    border-left: 1px #c8c8c8 solid; }
    .section-header .zone-user-wrapper .block-menu-user-menu .megamenu-parent a {
      color: black;
      font-size: 12px; }
      .section-header .zone-user-wrapper .block-menu-user-menu .megamenu-parent a:hover {
        color: #46d476; }
  .section-header .zone-user-wrapper input#edit-submit {
    color: white;
    padding: 4px 7px;
    background: #373737;
    border-radius: 5px;
    border: none;
    font-family: "bebas", "Open Sans", sans-serif; }
    .section-header .zone-user-wrapper input#edit-submit:hover {
      background-color: #46d476;
      color: black !important; }
  .section-header .zone-user-wrapper #region-user-second {
    background-color: #e5e5e5;
    text-align: right;
    padding-right: 15px; }
    .section-header .zone-user-wrapper #region-user-second .block {
      padding-top: 3px; }

body {
  background-color: black;
  color: white; }
  body a:link {
    color: #46d476; }
    body a:link:hover {
      opacity: 0.8; }

.front .node {
  border: none; }

h2.block-title {
  color: white;
  font-size: 24px; }

div#zone-content {
  padding: 0;
  margin-bottom: 0; }

body.front h2.block-title {
  font-size: 24px; }
body.front .zone-wrapper .region-content-inner article {
  display: none; }
body.front .zone-wrapper .region-content,
body.front .zone-wrapper .region-postscript-first,
body.front .zone-wrapper .region-postscript-second {
  width: 100%;
  margin: 0;
  position: relative; }
  body.front .zone-wrapper .region-content img,
  body.front .zone-wrapper .region-postscript-first img,
  body.front .zone-wrapper .region-postscript-second img {
    filter: gray;
    /* IE6-9 */
    filter: grayscale(1);
    /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */ }
    body.front .zone-wrapper .region-content img:hover,
    body.front .zone-wrapper .region-postscript-first img:hover,
    body.front .zone-wrapper .region-postscript-second img:hover {
      filter: none;
      -webkit-filter: grayscale(0); }
  body.front .zone-wrapper .region-content h2.block-title,
  body.front .zone-wrapper .region-content .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-second h2.block-title,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
    z-index: 99;
    position: absolute; }
    body.front .zone-wrapper .region-content h2.block-title a,
    body.front .zone-wrapper .region-content .field-name-field-link-shop-now a,
    body.front .zone-wrapper .region-postscript-first h2.block-title a,
    body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a,
    body.front .zone-wrapper .region-postscript-second h2.block-title a,
    body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a {
      color: black;
      text-transform: uppercase;
      padding: 5px 7px;
      background-color: white;
      font-weight: bold;
      font-size: 12px; }
      body.front .zone-wrapper .region-content h2.block-title a:hover,
      body.front .zone-wrapper .region-content .field-name-field-link-shop-now a:hover,
      body.front .zone-wrapper .region-postscript-first h2.block-title a:hover,
      body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a:hover,
      body.front .zone-wrapper .region-postscript-second h2.block-title a:hover,
      body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a:hover {
        color: white;
        background-color: #46d476; }
body.front .zone-wrapper .region-content h2.block-title {
  top: 40%; }
body.front .zone-wrapper .region-content .field-name-field-link-shop-now {
  top: 50%; }
body.front .zone-wrapper .region-content h2.block-title,
body.front .zone-wrapper .region-content .field-name-field-link-shop-now {
  left: 15%; }
body.front .zone-wrapper .region-postscript-first,
body.front .zone-wrapper .region-postscript-second {
  max-width: 460px; }
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-second h2.block-title {
    top: 25%; }
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
    top: 45%; }
body.front .zone-wrapper .region-postscript-second h2.block-title,
body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
  left: 50px; }
body.front .zone-wrapper .region-postscript-first {
  margin-right: 20px; }
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now {
    right: 50px; }

#section-footer {
  background-color: black;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif; }
  #section-footer .zone-footer {
    padding: 20px 0; }
  #section-footer .region-footer-first,
  #section-footer .region-footer-third,
  #section-footer .region-footer-second {
    width: 33%;
    margin: 0;
    display: inline-block;
    box-sizing: border-box;
    color: #7d7d7d;
    padding-right: 10px; }
    #section-footer .region-footer-first a,
    #section-footer .region-footer-third a,
    #section-footer .region-footer-second a {
      color: #e5e5e5;
      font-size: 14px;
      text-transform: uppercase;
      font-family: "bebas", "Open Sans", sans-serif; }
      #section-footer .region-footer-first a:hover,
      #section-footer .region-footer-third a:hover,
      #section-footer .region-footer-second a:hover {
        color: #46d476; }
  #section-footer h2.block-title {
    font-size: 18px;
    margin-bottom: 20px; }

a.cta {
  color: white;
  padding: 5px 10px;
  background-color: #373737;
  border-radius: 5px; }
  a.cta:hover {
    background-color: #46d476;
    color: black !important; }

.facebook:before {
  content: "";
  display: block;
  background: url("../images/social/facebook.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.twitter:before {
  content: "";
  display: block;
  background: url("../images/social/twitter.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.youtube:before {
  content: "";
  display: block;
  background: url("../images/social/youtube.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

.googleplus:before {
  content: "";
  display: block;
  background: url("../images/social/googleplus.png") no-repeat;
  background-size: 100% 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px; }

#footer-sitemap {
  margin: 0px; }
  #footer-sitemap ul li {
    display: block;
    float: none;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #373737; }
    #footer-sitemap ul li.last {
      border-bottom: none; }
    #footer-sitemap ul li li {
      padding-left: 40px;
      border-bottom: none; }
      #footer-sitemap ul li li a {
        color: #7d7d7d !important; }
        #footer-sitemap ul li li a:hover {
          color: #46d476 !important; }

#zone-footer2-wrapper {
  background: black;
  margin: 0;
  padding: 0; }
  #zone-footer2-wrapper .zone-footer2 {
    padding-top: 10px;
    border-top: 2px solid #373737;
    color: #7d7d7d; }

.page-blog .region-content .view-blog .view-content .views-row {
  border: none;
  border-bottom: 1px solid white; }
  .page-blog .region-content .view-blog .view-content .views-row h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .page-blog .region-content .view-blog .view-content .views-row .node-blog-post {
    padding: 0 0 20px 0; }
  .page-blog .region-content .view-blog .view-content .views-row .field-name-post-date {
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 10px; }
  .page-blog .region-content .view-blog .view-content .views-row .field-type-text-with-summary {
    color: #e5e5e5; }
  .page-blog .region-content .view-blog .view-content .views-row .field-name-author {
    color: #46d476;
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700; }
.page-blog .region-content .view-blog .view-content .views-row-last {
  border-bottom: none; }
.page-blog .region-content .view-blog .view-content .views-row-first {
  margin-top: 50px; }

body.front .region-postscript-third {
  margin: 75px 0 0 0; }
  body.front .region-postscript-third .block-views-display-products-block-1 h2.block-title {
    text-align: center;
    margin-bottom: 25px; }
  body.front .region-postscript-third .block-views-display-products-block-1 .views-row {
    margin: 0;
    width: 30%;
    display: inline-block;
    vertical-align: center;
    padding: 0 10px;
    text-align: center; }
    body.front .region-postscript-third .block-views-display-products-block-1 .views-row h2 {
      margin-bottom: 0; }
    body.front .region-postscript-third .block-views-display-products-block-1 .views-row h2 a {
      color: white;
      font-size: 14px; }
      body.front .region-postscript-third .block-views-display-products-block-1 .views-row h2 a:hover {
        color: #46d476; }
    body.front .region-postscript-third .block-views-display-products-block-1 .views-row .commerce-product-field .field-item {
      font-size: 12px;
      color: #7d7d7d; }
    body.front .region-postscript-third .block-views-display-products-block-1 .views-row .commerce-product-field span.price_prefix {
      display: none; }

.block-about-us,
.block-team-block {
  margin-top: 30px; }
  .block-about-us h2.block-title,
  .block-team-block h2.block-title {
    font-size: 24px;
    margin-bottom: 20px; }

.block-about-us .field-type-image,
.block-about-us .field-type-text-long {
  width: 50%;
  display: inline-block;
  vertical-align: top; }

.block-team-block {
  text-align: center; }
  .block-team-block h2.block-title {
    border-bottom: 2px solid white;
    padding-bottom: 15px; }
  .block-team-block .view-content {
    margin: 0 -20px; }
    .block-team-block .view-content .views-row {
      display: inline-block;
      padding: 0 20px; }
      .block-team-block .view-content .views-row .field-type-image {
        background-color: #46d476; }
        .block-team-block .view-content .views-row .field-type-image img:hover {
          opacity: 0.3; }
      .block-team-block .view-content .views-row .field-name-title-field {
        margin-top: 15px;
        font-family: "bebas", "Open Sans", sans-serif;
        font-weight: 700;
        letter-spacing: 0;
        font-size: 22px; }

.context-contact .zone-content {
  margin-top: 50px;
  font-family: "bebas", "Open Sans", sans-serif;
  font-weight: 700; }
  .context-contact .zone-content h2.block-title {
    font-size: 24px;
    margin-bottom: 20px; }
.context-contact .region-sidebar-first,
.context-contact .region-content {
  width: auto !important; }

.contact-adres {
  margin-top: 55px;
  padding: 25px;
  background-color: #46d476;
  color: black;
  max-width: 300px; }
  .contact-adres a:link,
  .contact-adres a:visited {
    color: white; }
    .contact-adres a:link:hover,
    .contact-adres a:visited:hover {
      color: #e5e5e5; }

.openingsuren {
  margin-top: 20px;
  color: #e5e5e5; }
  .openingsuren span {
    margin: 5px 0;
    display: inline-block;
    min-width: 100px; }

.page-shop ul.all-products {
  margin-top: 50px; }
  .page-shop ul.all-products .views-row {
    margin: 0;
    width: 30%;
    display: inline-block;
    vertical-align: center;
    padding: 0 10px;
    text-align: center; }
    .page-shop ul.all-products .views-row h2 {
      margin-bottom: 0; }
    .page-shop ul.all-products .views-row h2 a {
      color: white;
      font-size: 14px; }
      .page-shop ul.all-products .views-row h2 a:hover {
        color: #46d476; }
    .page-shop ul.all-products .views-row .commerce-product-field .field-item {
      font-size: 12px;
      color: #7d7d7d; }
    .page-shop ul.all-products .views-row .commerce-product-field span.price_prefix {
      display: none; }

.page-events .region-content .view-events .view-content .views-row {
  border: none;
  border-bottom: 1px solid white; }
  .page-events .region-content .view-events .view-content .views-row h2 {
    font-size: 24px;
    margin-bottom: 20px; }
  .page-events .region-content .view-events .view-content .views-row .field-type-text-with-summary {
    color: #e5e5e5; }
  .page-events .region-content .view-events .view-content .views-row .field-name-field-event-afbeelding {
    padding-right: 20px; }
  .page-events .region-content .view-events .view-content .views-row .field-name-field-wanneer {
    font-family: "bebas", "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 10px; }
.page-events .region-content .view-events .view-content .views-row-last {
  border-bottom: none; }
.page-events .region-content .view-events .view-content .views-row-first {
  margin-top: 50px; }

.node-type-product-display .node-product-display {
  margin-top: 35px; }
  .node-type-product-display .node-product-display .cloud-zoom-gallery-thumbs {
    max-width: 410px;
    margin-top: 10px; }
    .node-type-product-display .node-product-display .cloud-zoom-gallery-thumbs a {
      width: 32%;
      margin-left: 3px; }
      .node-type-product-display .node-product-display .cloud-zoom-gallery-thumbs a:first-child {
        margin-left: 0px; }
  .node-type-product-display .node-product-display .container-24.grid-8 {
    margin-top: 15px; }
    .node-type-product-display .node-product-display .container-24.grid-8 .field-name-commerce-price {
      font-size: 20px;
      display: inline-block; }
      .node-type-product-display .node-product-display .container-24.grid-8 .field-name-commerce-price:before {
        content: 'Prijs:';
        float: left;
        font-size: 14px;
        color: #46d476; }
    .node-type-product-display .node-product-display .container-24.grid-8 .field-type-text-with-summary {
      font: 13px/1.5 Verdana, Helvetica, Arial, sans-serif; }
      .node-type-product-display .node-product-display .container-24.grid-8 .field-type-text-with-summary p {
        margin-bottom: 0; }
    .node-type-product-display .node-product-display .container-24.grid-8 label {
      color: #46d476; }
    .node-type-product-display .node-product-display .container-24.grid-8 .service-links {
      display: none; }
    .node-type-product-display .node-product-display .container-24.grid-8 input.form-submit {
      color: white;
      padding: 10px 50px 10px 15px;
      background: #7d7d7d;
      background-image: url(../images/bg_add_to_cart.png);
      background-position: 97% 48%;
      background-repeat: no-repeat;
      border-radius: 5px;
      border: none;
      font-family: "bebas", "Open Sans", sans-serif; }
      .node-type-product-display .node-product-display .container-24.grid-8 input.form-submit:hover {
        background-color: #46d476;
        color: black !important; }

body.maintenance-page {
  color: black; }

body.page-cart .view-commerce-addressbook-defaults .views-field, body.page-checkout .view-commerce-addressbook-defaults .views-field, body.page-user-orders .view-commerce-addressbook-defaults .views-field, body.page-user .view-commerce-addressbook-defaults .views-field {
  background-color: black; }
body.page-cart span.fieldset-legend,
body.page-cart h1,
body.page-cart .create-account h2, body.page-checkout span.fieldset-legend,
body.page-checkout h1,
body.page-checkout .create-account h2, body.page-user-orders span.fieldset-legend,
body.page-user-orders h1,
body.page-user-orders .create-account h2, body.page-user span.fieldset-legend,
body.page-user h1,
body.page-user .create-account h2 {
  font-size: 24px !important;
  font-family: "bebas", "Open Sans", sans-serif !important;
  display: block;
  margin-bottom: 20px; }
body.page-cart div#commerce-shipping-service-ajax-wrapper, body.page-checkout div#commerce-shipping-service-ajax-wrapper, body.page-user-orders div#commerce-shipping-service-ajax-wrapper, body.page-user div#commerce-shipping-service-ajax-wrapper {
  margin-bottom: 10px; }
body.page-cart .region-content, body.page-checkout .region-content, body.page-user-orders .region-content, body.page-user .region-content {
  padding-top: 50px; }
  body.page-cart .region-content a, body.page-checkout .region-content a, body.page-user-orders .region-content a, body.page-user .region-content a {
    color: #46d476; }
    body.page-cart .region-content a.login-register, body.page-checkout .region-content a.login-register, body.page-user-orders .region-content a.login-register, body.page-user .region-content a.login-register {
      color: white;
      background-color: #7d7d7d; }
      body.page-cart .region-content a.login-register:hover, body.page-checkout .region-content a.login-register:hover, body.page-user-orders .region-content a.login-register:hover, body.page-user .region-content a.login-register:hover {
        background-color: #46d476; }
  body.page-cart .region-content .field-name-commerce-order-total .field-items, body.page-checkout .region-content .field-name-commerce-order-total .field-items, body.page-user-orders .region-content .field-name-commerce-order-total .field-items, body.page-user .region-content .field-name-commerce-order-total .field-items {
    background-color: #46d476;
    color: white; }
    body.page-cart .region-content .field-name-commerce-order-total .field-items table.commerce-price-formatted-components td, body.page-checkout .region-content .field-name-commerce-order-total .field-items table.commerce-price-formatted-components td, body.page-user-orders .region-content .field-name-commerce-order-total .field-items table.commerce-price-formatted-components td, body.page-user .region-content .field-name-commerce-order-total .field-items table.commerce-price-formatted-components td {
      border-bottom-color: white !important; }
  body.page-cart .region-content input#edit-submit,
  body.page-cart .region-content input#edit-checkout,
  body.page-cart .region-content input#edit-continue, body.page-checkout .region-content input#edit-submit,
  body.page-checkout .region-content input#edit-checkout,
  body.page-checkout .region-content input#edit-continue, body.page-user-orders .region-content input#edit-submit,
  body.page-user-orders .region-content input#edit-checkout,
  body.page-user-orders .region-content input#edit-continue, body.page-user .region-content input#edit-submit,
  body.page-user .region-content input#edit-checkout,
  body.page-user .region-content input#edit-continue {
    background-color: #7d7d7d !important; }
    body.page-cart .region-content input#edit-submit:hover,
    body.page-cart .region-content input#edit-checkout:hover,
    body.page-cart .region-content input#edit-continue:hover, body.page-checkout .region-content input#edit-submit:hover,
    body.page-checkout .region-content input#edit-checkout:hover,
    body.page-checkout .region-content input#edit-continue:hover, body.page-user-orders .region-content input#edit-submit:hover,
    body.page-user-orders .region-content input#edit-checkout:hover,
    body.page-user-orders .region-content input#edit-continue:hover, body.page-user .region-content input#edit-submit:hover,
    body.page-user .region-content input#edit-checkout:hover,
    body.page-user .region-content input#edit-continue:hover {
      background-color: #46d476 !important; }
  body.page-cart .region-content .back-to-login.clearfix, body.page-checkout .region-content .back-to-login.clearfix, body.page-user-orders .region-content .back-to-login.clearfix, body.page-user .region-content .back-to-login.clearfix {
    display: none; }
body.page-cart .form-item-commerce-shipping-shipping-service:hover, body.page-cart .page-checkout-shipping .form-item-commerce-shipping-shipping-service:hover .option, body.page-checkout .form-item-commerce-shipping-shipping-service:hover, body.page-checkout .page-checkout-shipping .form-item-commerce-shipping-shipping-service:hover .option, body.page-user-orders .form-item-commerce-shipping-shipping-service:hover, body.page-user-orders .page-checkout-shipping .form-item-commerce-shipping-shipping-service:hover .option, body.page-user .form-item-commerce-shipping-shipping-service:hover, body.page-user .page-checkout-shipping .form-item-commerce-shipping-shipping-service:hover .option {
  background-color: #46d476 !important; }
body.page-cart tr.even, body.page-cart tr.odd, body.page-checkout tr.even, body.page-checkout tr.odd, body.page-user-orders tr.even, body.page-user-orders tr.odd, body.page-user tr.even, body.page-user tr.odd {
  background-color: transparent; }
body.page-checkout .checkout-buttons {
  margin: 0px !important; }
body.page-checkout .fieldset-wrapper {
  margin: 0px !important; }

@media screen and (max-width: 980px) {
  body.front .zone-wrapper .region-postscript-first,
  body.front .zone-wrapper .region-postscript-second {
    max-width: 100%;
    margin-bottom: 20px; }

  #zone-postscript,
  #zone-content {
    padding: 0 0 10px 0; } }
@media screen and (max-width: 768px) {
  .range-slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    width: 85%; }

  .region-inner section.block-facetapi {
    margin-bottom: 15px;
    padding-top: 0px; }

  .responsive-menus.responsified .responsive-menus-simple li {
    border-top: solid 1px #373737; }
    .responsive-menus.responsified .responsive-menus-simple li li.megamenu-slot {
      border: none;
      padding-left: 30px; }

  .responsive-menus.responsified .responsive-menus-simple li.first {
    border-top: none; }

  body.front .zone-wrapper .region-content .field-name-field-link-shop-now a,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a {
    background-color: #46d476;
    color: white; }
    body.front .zone-wrapper .region-content .field-name-field-link-shop-now a:hover,
    body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now a:hover,
    body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now a:hover {
      background-color: black;
      opacity: 1; }

  div#block-megamenu-menu-social-connection {
    display: none; }

  #zone-footer div#region-footer-second {
    display: none; }
  #zone-footer .grid-8 {
    width: 100%;
    text-align: center; }

  span.toggler {
    font-size: 1em !important; }

  #block-megamenu-main-menu .home-menu {
    text-indent: 0;
    background-image: none; }

  div#block-megamenu-main-menu {
    width: 100%; }

  .responsive-menus {
    width: 180px !important; }
    .responsive-menus ul#rm-removed {
      background-color: black !important;
      width: 100% !important; }
      .responsive-menus ul#rm-removed li.megamenu-slot {
        background-color: transparent; }
      .responsive-menus ul#rm-removed h3, .responsive-menus ul#rm-removed h2 {
        padding-left: 10px;
        margin-bottom: 5px; }
    .responsive-menus span.toggler {
      background-color: black !important;
      font-family: "bebas", "Open Sans", sans-serif;
      width: 40px;
      border-bottom: none !important; }
    .responsive-menus a,
    .responsive-menus a.home-menu {
      width: 100% !important;
      height: 15px !important;
      font-size: 15px !important;
      padding: 15px !important;
      display: block;
      border: none !important; }

  #block-megamenu-main-menu .megamenu-parent .megamenu-slot a {
    color: #7d7d7d;
    width: 100% !important;
    height: 15px !important;
    font-size: 15px !important;
    display: inline; }

  body.front .zone-wrapper .region-content h2.block-title,
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-second h2.block-title {
    top: 20px;
    left: 20px; }

  body.front .zone-wrapper .region-content h2.block-title,
  body.front .zone-wrapper .region-content .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-first h2.block-title,
  body.front .zone-wrapper .region-postscript-first .field-name-field-link-shop-now,
  body.front .zone-wrapper .region-postscript-second h2.block-title,
  body.front .zone-wrapper .region-postscript-second .field-name-field-link-shop-now {
    left: 20px; } }
@media screen and (max-width: 640px) {
  body.front .region-postscript-third .block-views-display-products-block-1 .views-row,
  .page-shop ul.all-products .views-row,
  .block-about-us .field-type-image, .block-about-us .field-type-text-long,
  .ds-2col > .group-left,
  .ds-2col > .group-right {
    width: 100%; }

  .section-header .zone-user-wrapper #region-user-second {
    display: none; } }

/*# sourceMappingURL=custom.css.map */
